.git
vendor
node_modules
npm-debug.log
yarn-error.log
.env.local
.env.testing
.env.*.php
.php_cs.cache
Dockerfile
docker-compose.yml
*.md
*.xml
*.iml
*.log
*.env.example
*.gitignore
README.md
LICENSE
.vscode
.idea
storage/logs
storage/framework/cache/data
bootstrap/cache
public/storage
public/hot